#container {
    display: grid;
    grid-template-rows: 150px 1000px;
    grid-template-columns: 300px 1000px;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 40px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
}

.moreprojects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
}

#unsorted {
grid-column: 1 / 2;
}

#addproj {
grid-column: 1 / 2
}

#all {
grid-column: 1 / 2;
}

#today {
grid-column: 1 / 2;
}

#week {
grid-column: 1 / 2;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

#main {
grid-column: 2 / 3;
grid-row: 2 / 3;
}

.pic {
    height: 25px;
}

.todo {
    display: grid;
    grid-template-columns: 20px 30px 75px 50px 25px 1fr 1fr;
    column-gap: 30px;
}